client/.firebase
client/.firebaserc
client/.firebase.json
client/node_modules
client/dist 
client/.vite
client/vite.config.ts
client/.env



server/.firebaserc
server/firebase.json
server/functions/node_modules
server/functions/serviceAccountKey.json
server/functions/.env
server/functions/firebase.json
server/functions/.firebaserc
server/functions/lib/serviceAccountKey.json